@using Esercizio_S2_L2
@model Esercizio_S2_L2.CV

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="row">
    <div class="col-12">
        <h2>Informazioni Personali</h2>
        <table>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Telefono</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>@Model.InformazioniPersonali.Nome</td>
                <td>@Model.InformazioniPersonali.Cognome</td>
                <td>@Model.InformazioniPersonali.Telefono</td>
                <td>@Model.InformazioniPersonali.Email</td>
            </tr>
        </table>
    </div>
</div>
   
    <h2>Studi Effettuati</h2>
    <table>
        <tr>
            <th>Qualifica</th>
            <th>Istituto</th>
            <th>Tipo</th>
            <th>Dal</th>
            <th>Al</th>
        </tr>
        @foreach (var studi in Model.StudiEffettuati)
        {
            <tr>
                <td>@studi.Qualifica</td>
                <td>@studi.Istituto</td>
                <td>@studi.Tipo</td>
                <td>@studi.Dal.ToShortDateString()</td>
                <td>@studi.Al.ToShortDateString()</td>
            </tr>
        }
    </table>
    <h2>Impieghi</h2>
    <table>
        <tr>
            <th>Azienda</th>
            <th>Job Title</th>
            <th>Dal</th>
            <th>Al</th>
            <th>Descrizione</th>
            <th>Compiti</th>
        </tr>
        @foreach (var impiego in Model.Impiego)
        {
            <tr>
                <td>@impiego.Esperienza.Azienda</td>
                <td>@impiego.Esperienza.JobTitle</td>
                <td>@impiego.Esperienza.Dal.ToShortDateString()</td>
                <td>@impiego.Esperienza.Al.ToShortDateString()</td>
                <td>@impiego.Esperienza.Descrizione</td>
                <td>@impiego.Esperienza.Compiti</td>
            </tr>
        }
    </table>
    